@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Tiny5&display=swap');

*{
    padding: 0;
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    /* border: black, 10px , solid; */
    position: fixed;
    top: 0; /*Esto sirve para cuando deslice, este pegado al borde(top)de la pagina*/
    padding-left: 35vh;
    padding-bottom: 5px;
    background-color: rgb(250, 252, 255);
    z-index: 1000; /*Esto permite que no sea tapado por otros elementos*/
    display: flex;
    gap: 6px; /*Esto sepra a los elementos secundarios*/
    
}


section {
    /* border: black, 10px , solid; */
    padding-top: 70px; /* Espacio para evitar que el menú cubra el contenido */
    margin-top: -70px; /* Corrige la posición del ancla */
}



.colorsecundario{
    color: rgb(105, 105, 248);
}

/* ----------HEADER---------- */
header{
    /* border: black, 10px , solid; */
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    
    background-color: rgb(250, 252, 255);
}

/*----------MENU---------- */
header a {
    /* border: black, 2px, solid; */
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    

    margin-top: 25px;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 28px;
    margin-left: 30px;
    transition: color 0.3s ease-in-out; /* Transicion para el cambio de color */
    
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(105, 105, 248);
/* Suaviza el cambio de ancho */
    transition: width 0.3s ease-in-out; 
}


header a:hover::after {
    width: 55%;
}


/*---------- BODY ----------*/
body{
    /* border: black, 10px , solid; */
    padding: 0 12vh 20vh 25vh;
    background-color: rgb(250, 252, 255);

}

section{
    /* border: black, 10px , solid; */
    margin-top: 60px;
}
p{
    font-size: 30px;
    color: rgb(34, 34, 34);
}
/* HERO ---> Titulo  ---> Imagen ---> Descripcion*/
.hero{
    /* border: black, 10px , solid; */
    display: flex;
    flex-direction: column;
    width: 150vh;
}

.titulo{
    /* border: black, 10px , solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titulo h1{
    /* border: black, 10px , solid; */
    width: 80vh;
    align-items: center;
    font-size: 80px;
    margin-top: 150px;
}
.titulo h1 span{
    /* border: black, 10px , solid; */
    font-size: 80px;
    
}

.titulo img{
    /* border: black, 10px , solid; */
    height: 35vh;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-right: 20px;

    padding-top:20px;
    padding-right: 20px;

    border-top: 8px solid rgb(105, 105, 248);
    border-right: 8px solid rgb(105, 105, 248);
    border-width: 6px;
    border-radius: 5px;
    
}

.descripcion p{
    /* border: black, 10px , solid; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}




/* elementos secundarios H2.(subtitulos) ||   </Fin de la seccion>  ||  BOTONES  */

/*----------H2/Subtitulos----------*/
.subtitulos{
    font-size: 50px;
    padding-top: 40PX;
    padding-bottom: 60PX;
    
}


/*----------BOTONES---------- */
button{
    color: white;
    background-color: rgb(105, 105, 248);
    
    margin-top: 40px;
    font-size: 20px;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
/* efecto de botones */
button:hover{
    background-color: rgb(89, 89, 220);
    box-shadow: black;
    
}

/*----------</FINAL DE SECCION>----------*/
.findeseccion{
    /* border: black, 10px , solid; */
    font-size: 40px;
    display: flex;
    justify-content: end;
    color: rgb(110, 110, 110);
    padding-top: 80px;
    padding-bottom: 20px;
}


/*----------SECCION Sobre mi----------*/
.sobremi{
    /* border: black, 10px , solid; */
    margin-bottom: 20px;
}

.caracteristica{ 
    /* border: black, 10px , solid; */
    padding: 20px 0;
    font-size: 45px;
}



/* ----------SECCION HABILIDADES---------- */
.habilidades img{
    /* border: black, 10px , solid; */
    box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.5); /*Eje X, Y, Desenfoque*/
    border-radius: 80px;
    margin: 10px;
    height: 80vh;
    width: 120vh;
    margin-left: 25vh;
}



/*----------MI PORTFOLIO----------*/

/* Contenedor */
.cartas{
    /* border: black, 10px , solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas, 1 fracción igual del espacio disponible en el contenedor.*/
    gap: 150px;  /*Espacio entre cartas */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilo de las cartas */
.carta {
    /* border: black, 10px , solid; */
    display: flex;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: 105px;
}

.carta:hover {
    box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*    contenido de la carta    */
.contetcarta h2 {
    /* border: black, 10px , solid; */
    margin: 0 0 50px 0;
    font-size: 20px;
}

.contetcarta p {
    margin: 0;
    color:rgb(83, 83, 83);
    font-size: 15px;
}

