@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Tiny5&display=swap');

*{
    padding: 0;
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colorsecundario{
    color: rgb(105, 105, 248);
}

html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Necesario para que la imagen ocupe todo el viewport */
}


/*---------- BODY ----------*/
body{
    /* border: black, 10px , solid; */
    /* padding: 0 12vh 20vh 25vh; */
    /* background-color: rgb(250, 252, 255); */
    background-image: url(img/fondolineas.jpg);
    background-size: cover; /* Cubre toda la pantalla */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    width: 100%; /* Asegura que ocupe todo el ancho */
    
}

nav {
    /* border: black, 10px , solid; */
    background-color: rgb(250, 252, 255);
    display: flex;
    
    position: fixed;
    
    
    padding-right: 50px;
    padding-left: 57vh;
    padding-bottom: 10px;

    top: 0; /*Esto sirve para cuando deslice, este pegado al borde(top)de la pagina*/
    gap: 6px; /*Esto sepra a los elementos secundarios*/
    z-index: 1000; /*Esto permite que no sea tapado por otros elementos*/
}

section{
    /* border: rgb(10, 187, 169), 10px , solid; */
    padding: 0 12vh 10vh 25vh;
    padding-top: 70px; /* Espacio para evitar que el menú cubra el contenido */
    margin-top: -70px; /* Corrige la posición del ancla */
    
}
p{
    font-size: 30px;
    color: rgb(34, 34, 34);
}


/* ----------HEADER---------- */
header{
    /* border: black, 10px , solid; */
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;

    margin-bottom: 50px;
    padding-right: 35px;
    padding-bottom: 40px;
    /* background-color: rgb(250, 252, 255); */
}

header a {
    /* border: black, 2px, solid; */
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    
    margin-top: 25px;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    transition: color 0.3s ease-in-out; /* Transicion para el cambio de color */
    
}

header a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(105, 105, 248);
/* Suaviza el cambio de ancho */
    transition: width 0.3s ease-in-out; 
}

header a:hover::after {
    width: 55%;
}


/*    HERO ---> Titulo  ---> Imagen ---> Descripcion*/
.hero{
    /* border: black, 10px , solid; */
    display: flex;
    flex-direction: column;

}



/* Diseño general */
    .icon-column {
    /* border: black, 10px , solid; */

    display: flex;
    flex-direction: column; 
    
    text-decoration: none; /* Elimina el subrayado */
    align-items: center;
    gap: 45px; /* Espacio entre iconos */
    padding: 10px;

    top: 60%; /* Centrado verticalmente */
    left: 100px; /* Al borde izquierdo */
    
    position:absolute; /* Fixed: Fijo para que esté al borde || Abosulte, fijo*/
    transform: translateY(-50%); /* Ajuste para centrar completamente */


    }



/* Estilo de los iconos */


.icon {
    font-size: 35px; /* Tamaño del icono */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none; 
    color: rgb(105, 105, 248);
    transition: transform 0.3s;
    
    cursor: pointer;
    
}

/* Efectos al pasar el mouse */
.icon:hover {
    transform: scale(1.2); 
}
.icon-column a {
    text-decoration: none; /* Elimina la línea debajo de los enlaces */
}



/* Titulo */
.titulo{
    /* border: black, 10px , solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titulo h1{
    /* border: black, 10px , solid; */
    /* width: 100vh; */
    align-items: center;
    font-size: 100px;
    margin-top: 150px;
}
.titulo img{
    /* border: black, 10px , solid; */
    height: 37vh;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-right: 20vh;
    margin-top:20px;
    
    padding-right: 20px; /*esto es para el marquito azul de la foto*/
    padding-top: 20px;

}

.borde {
    position: absolute;
    height: 38%;  /* Borde ocupa el 70% del alto */
    top: 16%;     /* Centramos el borde */
    right: 15%;
    border: 3px solid rgb(105, 105, 248); /* Estilo del borde */
    box-sizing: border-box;  /* Aseguramos que las dimensiones incluyan el borde */
}
.bordetop{
    position: absolute;
    width: 18%; 
    top: 16%;     /* Centramos el borde */
    right: 15%;
    border: 3px solid rgb(105, 105, 248); /* Estilo del borde */
    box-sizing: border-box;  /* Aseguramos que las dimensiones incluyan el borde */
}


.descripcion{
    /* border: black, 10px , solid; */
    margin-top: 60px;
    width: 145vh;
    
}
.descripcion p{
    /* border: black, 10px , solid; */
    
    flex-wrap: wrap;
    align-items: center;
    font-size: 28px;
    margin-bottom: 20px;
}



/* Mail vertical */
.vertical-mail {
    /* border: black, 10px , solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute; /* Fixed: Fijo para que esté al borde || Abosulte, fijo*/

    top: 28%; /* Centrado verticalmente */
    right: 15px; /* borde derecho */
    margin-right: 60px; /* Separación del borde derecho */
    height: 60vh;

    transform: translateY(-50%); /* Ajuste para centrar completamente */
    writing-mode: vertical-rl; /* El texto se lee de arriba hacia abajo */
    transform: rotate(180deg); /* Opcional: Si necesitas invertir el sentido */
}
.vertical-mail p{
    /* border: black, 10px , solid; */
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;

    padding-bottom: 15px;

    font-size: 20px;
    color: rgb(105, 105, 248);
    
}

.linea{
    padding-top: 50px;
    /* border: black, 10px , solid; */
    width: 3px;       /* Longitud de la línea */
    height: 100px;       /* Grosor de la línea */
    background-color: rgb(105, 105, 248); /* Color de la línea */
    margin-right: 10px; /* Espacio entre la línea y el párrafo */
}




/* elementos secundarios H2.(subtitulos) ||   </Fin de la seccion>  ||  BOTONES  */

/*          H2/Subtitulos y final de seccion"</>"        */
.subtitulos{
    /* border: black, 10px , solid; */
    font-size: 50px;
    padding-top: 40PX;
    padding-bottom: 60PX;
    
}

.findeseccion{
    /* border: black, 10px , solid; */
    font-size: 40px;
    display: flex;
    justify-content: end;
    color: rgb(110, 110, 110);
    padding-top: 80px;
    padding-bottom: 20px;
}

/*----------BOTONES---------- */
button{
    color: white;
    background-color: rgb(105, 105, 248);
    
    margin-top: 40px;
    font-size: 20px;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    
    
}
/* efecto de botones */
button:hover{
    background-color: rgb(89, 89, 220);
    box-shadow: black;
    transition: transform 0.3s;
    transform: scale(1.1); /* Agranda ligeramente */
}


/*----------SECCION Sobre mi----------*/
.sobremi{
    /* border: black, 10px , solid; */
    margin-bottom: 20px;
}

.caracteristica{ 
    /* border: black, 10px , solid; */
    padding: 20px 0;
    font-size: 45px;
}



/* ----------SECCION HABILIDADES---------- */
.habilidades img{
    /* border: black, 10px , solid; */
    box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.5); /*Eje X, Y, Desenfoque*/
    border-radius: 80px;
    margin: 10px;
    height: 80vh;
    width: 120vh;
    margin-left: 25vh;
}



/*----------MI PORTFOLIO----------*/

/* contenedor de cartas 
    cartas -> Encabezado(iconos) y contenido(Tecnologias y descripcion)
*/

/* Contenedor abuelo */
    .contenedordecartas{
    /* border: black, 10px , solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*Espacio entre las cartas*/
    gap: 100px; 
    height: 80vh;
    padding: 16px;
    margin: 20px 40px;
    
    }

/* Contenedor Padre */
    .cartas{
    /* border: black, 10px , solid; */
    width: 60vh; /*ancho de c/u carta */
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    }

    .cartas:hover {
        transform: scale(1.1);
        transition: transform 0.4s;
        box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
        
    }
/*Parte superior de la carta*/
    .encabezado {
        /* border: black, 10px , solid; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        
    }

    .encabezado i{
        font-size: 38px;
        color:rgb(89, 89, 220);
    }

    .encabezado .icons a{
    margin-left: 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 38px;
    padding-left:8px;
    }

    /*cuerpo de la carta*/
    .contenido{
        margin-left: 5px;
        /* border: rgb(212, 30, 30), 10px , solid; */
    }
    .contenido h2 {
    font-size: 45px;
    margin: 8px 0;
    }
    .contenido p {
    font-size: 25px;
    color:rgb(83, 83, 83);
    }


/*Tecnologias - Parte inferior de la cartas*/

    .tecnologias{
    /* border: black, 10px , solid; */
    margin-top: auto;
    }
    .tecnologias span{
    display: inline-block;
    background-color: rgb(227, 227, 227);
    color: rgb(38, 38, 38);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 20px;
    margin: 6px 6px ;
    }

    /*ICONOS*/

